#app{
    width: 600px;
    background-color: bisque;
    margin: auto;
}
h2{
    padding-top: 10px;
    margin: 0 0 20px 0;
    text-align: center;
}
.main{
    width: 300px;
    background-color: #fff;
    margin: auto;
}
.main input{
    width: 200px;
    height: 30px;
}
.main button{
    width: 90px;
    height: 34px;
    background-color: orange;
    border: none;
    outline: none;
}
.main ul{
    width: 240px;
    margin: auto;
}
.main ul>li{
    margin-top: 10px;
    color: #333;
}